rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /characters/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
    match /badges/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
    match /locations/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
